.container-fluid {
	width: 100%;
	padding: 0;
	min-width: 1300px;
}


#stat-select-page {
	background-color: #F3F3F3;
	min-height: 100vh;
}

.gen-title-bar {
	margin: 0;
	padding-left: 4%;
	width: 100%;
	background-color: #2D3053;
	border-bottom: solid #FEFEFE 3px;
	position: fixed;
}

.gen-title-bar h1 {
	padding: 0;
	color: #FEFEFE;
	margin-top: 1vh;
	font-size: 3.7em;
	width: 50%;
}

.panel {
	margin-top: 10%;
}

.panel-default {
	padding: 0;
}