table {
	border-collapse: separate;
    border-spacing: 0;
}

.container-fluid {
	width: 100%;
	padding: 0;
	min-width: 1300px;
}


#stat-select-page {
	background-color: #F3F3F3;
	min-height: 100vh;
}

.gen-title-bar {
	margin: 0;
	padding-left: 4%;
	width: 100%;
	background-color: #2D3053;
	border-bottom: solid #FEFEFE 3px;
	position: fixed;
}

.gen-title-bar h1 {
	padding: 0;
	color: #FEFEFE;
	margin-top: 1vh;
	font-size: 3.7em;
	width: 50%;
}

.panel {
	margin-top: 0;
}

.panel-default {
	padding: 0;
}

#stat-options {
	margin-top: 7.5%;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

#stat-options h2 {

}

table {
	border: solid #161940 1.5px;
	border-radius: 5px;
}


table td {
	padding: 5px;
	font-size: 2em;
	text-align: left;
	color: #161940;
	border: 0;
}

table tr:hover td {
	color: white;
	border: 0;
}

table tr:hover {
	background-color: #2D3053;
}