<!DOCTYPE html>
<html>
  <head>
    <title>Stat Reporter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/indexStyle.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row" id="splash-page">
        <div class="row title-bar-noScroll" id="splash-title-bar">
          <h1>Stat Reporter</h1>
        </div>
        <div class="row" id="splash-content">
          <h2>Stat Sheet Calcuations</h2>
          <h3>In Minutes.</h3>
        </div>
      </div>
      <div class="row" id="what-is">
        <h1>What is Stat Reporter?</h1>
        <p>Stat Reporter takes data from any soccer stat sheet and creates a visual report of all stat calculations.</p>
      </div>
      <div class="row" id="process">
        <div id="process-t-chart">
          <div class="you-give">
            <div class="top">
              <h1>You Enter</h1>
            </div>
            <div class="bottom">
              <h1>Your player stats.</h1>
            </div>
          </div>
          <div class="we-give">
            <div class="top">
              <h1>You Get</h1>
            </div>
            <div class="bottom">
              <ul>
                <h2>Team averages</h2>
                <h2>Team and player based anaysis</h2>
                <h2>Position and team based stat calculations</h2>
                <h2>Visual graphs depicting calculation results</h2>
              </ul>
            </div>
          </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>