<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Stat Reporter</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="css/statSelectStyle.css" type="text/css">
	</head>
	<body>
		<div class="container-fluid" id="stat-select-page">
			<div class="row gen-title-bar">
				<h1>Stat Reporter</h1>
			</div>
			<div id="stat-options">
				<h2>Select the stats you have recorded:</h1>
				<div class="col-md-6" id="field-player-options">
					<div class="panel panel-default col-md-12">
						<div class="panel-heading">
							<h1 class="panel-title">Field Players</h1>
						</div>
						<div class="panel-body">
							<table class="table">
								<tbody>
									<tr>
										<td><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></td>
										<td>	Stat</td>
									</tr>
									<tr>
										<td><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></td>
										<td>	Stat</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col-md-6" id="goalie-options">
					<div class="panel panel-default col-md-12">
						<div class="panel-heading">
							<h1 class="panel-title">Goalies</h1>
						</div>
						<div class="panel-body">
							adsfadsf
						</div>
					</div>
				</div>
			</div>
		</div>

		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		 <script src="js/bootstrap.min.js"></script>
		 <script src="js/script.js"></script>
	</body>
</html>