<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>test</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="css/statSelectStyle.css" type="text/css">
	</head>
	<body>
		<div class="container-fluid" id="stat-select-page">
			<div class="row gen-title-bar">
				<h1>Stat Reporter</h1>
			</div>
			<div class="row" id="stat-selection">
				<div class="feild-players">
					<h1>Included feild player stats</h1>
					<ul class="list-group">
						<li class="list-group-item">stat 1</li>
						<li class="list-group-item">stat 2</li>
						<li class="list-group-item">stat 3</li>
						<li class="list-group-item">stat 4</li>
						<li class="list-group-item">stat 5</li>
					</ul>
				</div>
				<div class="goalies">
					<h1>Included goalie stats</h1>
				</div>
			</div>
		</div>

		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		 <script src="js/bootstrap.min.js"></script>
		 <script src="js/script.js"></script>
	</body>
</html>